@import '../src/components/Colors.scss';
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
                

.App-header{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

    h1{
        font-family: 'Pokemon Solid', sans-serif;
        color: #ffcb05;
        margin: 1rem 0;
        font-size: 4rem;
        text-shadow: -5px 0px 0px #1d2c5e;
    }

    img{
        height: 3rem;
        margin: -0.5rem 1rem;
    }
}

.search__wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;

    input{
        width: 60vw;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        background-color: $secondary-color;
        color: $text-color;
        margin: 1rem 0;
        box-shadow: 1px 1px 5px 1px #000;
    }

    button{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        margin: 1rem ;

    }

    button:hover{
        cursor: pointer;
        border:none;
        color: $text-color;
    }
}

@media (max-width: 768px){
    .App-header{
        h1{
            font-size: 3rem;
        }
        img{
            height: 2rem;
            margin: 0 1rem;
        }

    }
    .search__wrap{
        input{
            width: 60vw;
        }
    }

}
