@import '../src/components/Colors.scss';

.evo{
    background-color: $secondary-color;
    width: 80vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px #000;
    border-radius: 5px;

    p{
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: bold;
    }

    img{
        width: 100px;
        height: 100px;
        position: relative;

    
    }
    
    .arrow{
        font-size: 3rem;
        opacity: 0.75;
    }
}

@media screen and (max-width: 768px){
    
    .evo{
        img{
            width: 75px;
            height: 75px;
        }
        p{
            font-size: 0.75rem;
        }
        .arrow{
            font-size: 2rem;
        }
    }
}