@import '../src/components/Colors.scss';


.pokemon{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    color: $text-color;
    width: 200px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px #ccc;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p{
        margin: 0.5rem 0;
    }

    h3{
        margin: 0.5rem 0;
        text-transform: capitalize;
    }

    .types{
        width: 20px;
        height: 20px;
        margin: 0;
        filter: brightness(0) saturate(100%);
        opacity: 0.75;

    }

    .pokemon__foto{
        width: 150px;
        height: 150px;
        margin: 0;

    }

}
