@import '../src/components/Colors.scss';


.pokemon{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    color: $text-color;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px #000;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p{
        margin:0;
    }

    h3{
        margin: 0 0;
        text-transform: capitalize;
    }

    .types{
        width: 20px;
        height: 20px;
        padding: 5px;
        border-radius: 50%;
        margin: 0.5rem 0 0 0;


        &.normal{
            background-color: $card-color-normal;
        }

        &.fire{
            background-color: $card-color-fire;
        }

        &.water{
            background-color: $card-color-water;
        }

        &.electric{
            background-color: $card-color-electric;
        }

        &.grass{
            background-color: $card-color-grass;
        }

        &.ice{
            background-color: $card-color-ice;
        }

        &.fighting{
            background-color: $card-color-fighting;
        }

        &.poison{
            background-color: $card-color-poison;
        }

        &.ground{
            background-color: $card-color-ground;
        }

        &.flying{
            background-color: $card-color-flying;
        }

        &.psychic{
            background-color: $card-color-psychic;
        }

        &.bug{
            background-color: $card-color-bug;
        }
        
        &.rock{
            background-color: $card-color-rock;
        }

        &.ghost{
            background-color: $card-color-ghost;
        }

        &.dragon{
            background-color: $card-color-dragon;
        }

        &.dark{
            background-color: $card-color-dark;
        }

        &.steel{
            background-color: $card-color-steel;
        }

        &.fairy{
            background-color: $card-color-fairy;
        }

        
        

    }

    .pokemon__foto{
        width: 125px;
        height: 125px;
        margin: 0;

    }

}

@media screen and (max-width: 768px){

    .pokemon{
        width: 130px;
        height: 130px;

        .pokemon__foto{
            width: 90px;
            height: 90px;
        }

        p{
            font-size: 0.8rem;
            margin: 0;
        }

        h3{
            font-size: 1rem;
            margin: 0;
        }

        .types{
            width: 15px;
            height: 15px;
            padding: 3px;
        }


    }
    
}
