@import '../src/components/Colors.scss';


.pokemonBig{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    color: $text-color;
    width: 300px;
    height: auto;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px #ccc;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    h2{
        margin: 0.5rem 0;
        text-transform: capitalize;
        font-size: 2rem;
    }

    .pokemon__foto{
        width: 300px;
        height: 300px;
        margin: 0;
    }

    p{
        font-size: 1.5rem;
        margin: 0.5rem 0;
        text-transform: capitalize;
    }

    .types{
        width: 40px;
        height: 40px;
        margin: 0;
        filter: brightness(0) saturate(100%);
        opacity: 0.75;
    }

}

.pokemon__details{
    color: $text-color;
    width: auto;
    height: auto;
    text-transform: capitalize;
    text-align: justify;
    margin: 0 2rem;
    padding: 3rem;
    border: 3px solid;
    border-top-color: #000; // colore scuro
    border-left-color: #000; // colore scuro
    border-right-color: grey;
    border-bottom-color: grey;
    background-color: #dbdada;
}
