@import '../src/components/Colors.scss';


.close{
    margin: 1rem auto;
    font-size: 3rem;
    cursor: pointer;
    color: $secondary-color;
}
.pokemonBig{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    color: $text-color;
    width: 300px;
    height: auto;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px #000;
    cursor: pointer;

    h2{
        margin: 0.5rem 0;
        text-transform: capitalize;
        font-size: 2rem;
    }

    .pokemon__foto{
        width: 300px;
        height: 300px;
        margin: 0;
    }

    p{
        font-size: 1.5rem;
        margin: 0.5rem 0;
        text-transform: capitalize;
    }

    .types{
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        margin: 0;

        &.normal{
            background-color: $card-color-normal;
        }

        &.fire{
            background-color: $card-color-fire;
        }

        &.water{
            background-color: $card-color-water;
        }

        &.electric{
            background-color: $card-color-electric;
        }

        &.grass{
            background-color: $card-color-grass;
        }

        &.ice{
            background-color: $card-color-ice;
        }

        &.fighting{
            background-color: $card-color-fighting;
        }

        &.poison{
            background-color: $card-color-poison;
        }

        &.ground{
            background-color: $card-color-ground;
        }

        &.flying{
            background-color: $card-color-flying;
        }

        &.psychic{
            background-color: $card-color-psychic;
        }

        &.bug{
            background-color: $card-color-bug;
        }
        
        &.rock{
            background-color: $card-color-rock;
        }

        &.ghost{
            background-color: $card-color-ghost;
        }

        &.dragon{
            background-color: $card-color-dragon;
        }

        &.dark{
            background-color: $card-color-dark;
        }

        &.steel{
            background-color: $card-color-steel;
        }

        &.fairy{
            background-color: $card-color-fairy;
        }
    }

}

.pokemon__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #000;
    background-color: $primary-color;

    p{
        padding: 0;
        margin: 0.5rem 0;
        font-size: 1rem;
        width: 250px;
        color: $secondary-color;
        text-align: left;
        text-transform: capitalize;
    }
}
.stats{
    text-align: left;
    margin: 0.5rem auto;
    width: 300px;
}

.bold{
    text-transform: capitalize;
    font-weight: bold;
}

@media (max-width: 768px){
    .pokemonBig{
        width: 250px;

        h2{
            font-size: 1.5rem;
        }

        .pokemon__foto{
            width: 250px;
            height: 250px;
        }

        p{
            font-size: 1rem;
        }

        .types{
            width: 20px;
            height: 20px;
            padding: 5px;
        }

    }
    
    .pokemon__details{
        width: 250px;
        p{
            width: 200px;
            font-size: 0.8rem;
        }
    }
}