$primary-color: red;
$secondary-color: white;
$text-color: black;
$card-color-grass: #78C850;
$card-color-fire: #F08030;
$card-color-water: #6890F0;
$card-color-bug: #A8B820;
$card-color-normal: #A8A878;
$card-color-poison: #A040A0;
$card-color-electric: #F8D030;
$card-color-ground: #E0C068;
$card-color-fairy: #EE99AC;
$card-color-fighting: #C03028;
$card-color-psychic: #F85888;
$card-color-rock: #B8A038;
$card-color-ghost: #705898;
$card-color-ice: #98D8D8;
$card-color-dragon: #7038F8;
$card-color-dark: #705848;
$card-color-steel: #B8B8D0;
$card-color-flying: #A890F0;



.App{
    width: 97vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pokemon__wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .pokemon__container{
        background-color: $secondary-color;
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid #ccc;

        .pokemonBig{
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            padding: 1rem;
            border: 1px solid #ccc;
            color: $text-color;
            width: 75vw;
            height: auto;
            border-radius: 5%;
            box-shadow: 1px 1px 5px 1px #ccc;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.grass {
                background-color: $card-color-grass;
            }
            &.fire {
                background-color: $card-color-fire;
            }
            &.water {
                background-color: $card-color-water;
            }
            &.bug {
                background-color: $card-color-bug;
            }
            &.normal {
                background-color: $card-color-normal;
            }
            &.poison {
                background-color: $card-color-poison;
            }
            &.electric {
                background-color: $card-color-electric;
            }
            &.ground {
                background-color: $card-color-ground;
            }
            &.fairy {
                background-color: $card-color-fairy;
            }
            &.fighting {
                background-color: $card-color-fighting;
            }
            &.psychic {
                background-color: $card-color-psychic;
            }
            &.rock {
                background-color: $card-color-rock;
            }
            &.ghost {
                background-color: $card-color-ghost;
            }
            &.ice {
                background-color: $card-color-ice;
            }
            &.dragon {
                background-color: $card-color-dragon;
            }
            &.dark {
                background-color: $card-color-dark;
            }
            &.steel {
                background-color: $card-color-steel;
            }
            &.flying {
                background-color: $card-color-flying;
            }

            h2{
                margin: 0.5rem 0;
                text-transform: capitalize;
                font-size: 2rem;
            }

            .pokemon__foto{
                width: 300px;
                height: 300px;
                margin: 0;
            }

            p{
                font-size: 1.5rem;
                margin: 0.5rem 0;
                text-transform: capitalize;
            }

        }

        .pokemon{
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            padding: 1rem;
            border: 1px solid #ccc;
            color: $text-color;
            width: 200px;
            height: 300px;
            border-radius: 5%;
            box-shadow: 1px 1px 5px 1px #ccc;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.grass {
                background-color: $card-color-grass;
            }
            &.fire {
                background-color: $card-color-fire;
            }
            &.water {
                background-color: $card-color-water;
            }
            &.bug {
                background-color: $card-color-bug;
            }
            &.normal {
                background-color: $card-color-normal;
            }
            &.poison {
                background-color: $card-color-poison;
            }
            &.electric {
                background-color: $card-color-electric;
            }
            &.ground {
                background-color: $card-color-ground;
            }
            &.fairy {
                background-color: $card-color-fairy;
            }
            &.fighting {
                background-color: $card-color-fighting;
            }
            &.psychic {
                background-color: $card-color-psychic;
            }
            &.rock {
                background-color: $card-color-rock;
            }
            &.ghost {
                background-color: $card-color-ghost;
            }
            &.ice {
                background-color: $card-color-ice;
            }
            &.dragon {
                background-color: $card-color-dragon;
            }
            &.dark {
                background-color: $card-color-dark;
            }
            &.steel {
                background-color: $card-color-steel;
            }
            &.flying {
                background-color: $card-color-flying;
            }

            p{
                margin: 0.5rem 0;
            }

            h3{
                margin: 0.5rem 0;
                text-transform: capitalize;
            }
    
            .types{
                width: 20px;
                height: 20px;
                margin: 0;
            }

            .pokemon__foto{
                width: 150px;
                height: 150px;
                margin: 0;
            }

        }
    
    }
}